$color-primary: #7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;
$overlay-light-color: #7ae065be;
$overlay-dark-color:#28b48581;
$button-color:#777;
$button-background-color:#fff;
$color-black: rgba(39, 39, 39, 0.308);

//About Color
$color-gray-light-1:#f7f7f1;

// GRID VARIABLES
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


//Font
$default-font-size:1.6rem;